# Auto detect text files and perform LF normalization
data filter=lfs diff=lfs merge=lfs -text
data/data filter=lfs diff=lfs merge=lfs -text
data/NYT_CoType filter=lfs diff=lfs merge=lfs -text
data/NYT_CoType/relation_labels.txt filter=lfs diff=lfs merge=lfs -text
data/NYT_CoType/tag2id.txt filter=lfs diff=lfs merge=lfs -text
data/NYT_CoType/brown filter=lfs diff=lfs merge=lfs -text
data/NYT_CoType/entity_labels.txt filter=lfs diff=lfs merge=lfs -text
data/NYT_CoType/word2vec.vectors.npy filter=lfs diff=lfs merge=lfs -text
data/NYT_CoType/train.pk filter=lfs diff=lfs merge=lfs -text
data/NYT_CoType/vocab.txt filter=lfs diff=lfs merge=lfs -text
data/NYT_CoType/word2vec.txt filter=lfs diff=lfs merge=lfs -text
data/NYT_CoType/corpus.txt filter=lfs diff=lfs merge=lfs -text
data/NYT_CoType/download_train_json.py filter=lfs diff=lfs merge=lfs -text
data/NYT_CoType/test.json filter=lfs diff=lfs merge=lfs -text
data/NYT_CoType/word2vec filter=lfs diff=lfs merge=lfs -text
data/NYT_CoType/test.pk filter=lfs diff=lfs merge=lfs -text
data/NYT_CoType/test.txt filter=lfs diff=lfs merge=lfs -text
data/NYT_CoType/train.json filter=lfs diff=lfs merge=lfs -text
data/*/*/* filter=lfs diff=lfs merge=lfs -text
data/*/*/ filter=lfs diff=lfs merge=lfs -text
*.iml filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.tsv filter=lfs diff=lfs merge=lfs -text
*.pk filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.pyc filter=lfs diff=lfs merge=lfs -text
